<h3>Survey Questions</h3>
<hr />
<br />

<h5>About you</h5>
<br />

<div class="alert alert-danger" id="alert-notification">
</div>

<div class="form-group">
    <label>Name (Required)
    </label>
    <input type="text" class="form-control input-form" id="name" name="name">
</div>
<div class="form-group">
    <label>Link to Photo Image (Required)
    </label>
    <input type="text" class="form-control input-form" id="photo-link" name="photo-link">
</div>

{{#each questions}}


<div class="form-group">
    <label><strong>{{this.title}}</strong>
    </label>
    <p>{{this.question}}</p>
    <select class="selectpicker" data-live-search="true" id="{{this.id}}">

        {{#each this.options}}

        <option value={{this.id}}>{{this.text}}</option>

        {{/each}}

    </select>
</div>

{{/each}}

<hr />

<button type="submit" id="submit-survey" class="btn btn-primary">Submit Survey</button>

<!-- Modal -->
<div class="modal fade" id="friend-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 id="friend-name"></h3>
                <img id="friend-photo" src="" />
            </div>
        </div>
    </div>
</div>